{:paths ["src"]

 :mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}}

 :deps
 {org.clojure/core.async         {:mvn/version "1.6.681"}
  org.eclipse.jetty/jetty-client {:mvn/version "11.0.20"}
  org.eclipse.jetty/jetty-http   {:mvn/version "11.0.20"}
  org.eclipse.jetty/jetty-util   {:mvn/version "11.0.20"}}

 :aliases
 {:check {:extra-deps {athos/clj-check {:git/url "https://github.com/athos/clj-check.git"
                                        :sha     "0ca84df1357d71429243b99908303f45a934654c"}}
          :main-opts  ["-m" "clj-check.check"]}}}
