{:paths ["src"]

 :mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}}

 :deps
 {org.clojure/core.async         {:mvn/version "1.6.681"}
  org.eclipse.jetty/jetty-client {:mvn/version "11.0.24"}
  org.eclipse.jetty/jetty-http   {:mvn/version "11.0.24"}
  org.eclipse.jetty/jetty-util   {:mvn/version "11.0.24"}}

 :aliases
 {:build {:deps       {io.github.clojure/tools.build {:mvn/version "0.10.3"}
                       slipset/deps-deploy           {:mvn/version "0.2.2"}}
          :ns-default build}}}
